@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MRT Websites</h1>

    <br />
    <h2>Please choose </h2>
    <p><button type="button">@Html.ActionLink("Admin Page", "AdminLogin", "Admin", null, new { target = "_blank" })</button></p>
    <h2>or </h2>
    <p><button type="button"> @Html.ActionLink("User Page", "UserHome")</button></p>

</div>
